<section class="home d-flex flex-column justify-content-center align-items-center text-white text-center">
  <div class="home-content">

  <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
     alt="profile"
     class="rounded-circle mb-3"
     width="150" height="150">


    <h1 class="fw-bold">START FRAMEWORK</h1>

    <div class="divider d-flex align-items-center justify-content-center my-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>

    <p class="lead">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
